<%= form_for Note.new, :remote => true do |f| %>
  <div class="field">
    <%= f.text_area(:contents, :rows => 2, :style => "width: 500px; padding: 10px;") %>
  </div>

  <div class = "field">
    <%= f.hidden_field :pinned, :value => "false" %>
  </div>

  <div class="actions">
    <%= f.submit "Add note", :class => "btn"%>
  </div>
<% end %>