<div class="toolbar btn-toolbar">
  <div class="btn-group dropdown toolbar-element">
    <button class="btn toolbar-element dropdown-toggle" id="style-dropdown-toggle" data-toggle="dropdown">
      <i class="icon-font"></i><span class="caret"></span>
    </button>
    <ul class="dropdown-menu toolbar-element">
      <li><a href="#" class="style style-adelle-thin" id="adelle-thin">Adelle Thin</a></li>
      <li><a href="#" class="style style-jaf-facitweb-extra-light" id="jaf-facitweb-extra-light">JAF Extra Light</a></li>
      <li><a href="#" class="style style-jaf-facitweb-regular" id="jaf-facitweb-regular">JAF Regular</a></li>
      <li><a href="#" class="style style-jaf-facitweb-extra-bold" id="jaf-facitweb-extra-bold">JAF Extra Bold</a></li>
      <li><a href="#" class="style style-league-gothic-regular" id="league-gothic-regular">League Regular</a></li>
    </ul>
  </div>
  <div class="btn-group" data-toggle="buttons-radio">
    <button class="btn toolbar-element align" id="left"><i class="icon-align-left"></i></button>
    <button class="btn toolbar-element align" id="center"><i class="icon-align-center"></i></button>
    <button class="btn toolbar-element align" id="right"><i class="icon-align-right"></i></button>
  </div>
  <div class="btn-group" data-toggle="buttons-radio">
    <button class="btn toolbar-element textsize" id="textsize-increase"><i class="icon-text-height"></i><i class="icon-plus"></i></button>
    <button class="btn toolbar-element textsize" id="textsize-decrease"><i class="icon-text-height"></i><i class="icon-minus"></i></button>
  </div>
  <div class="btn-group toolbar-element">
    <button class="btn toolbar-element popover-toggle" data-toggle="popover"
    data-placement="top" data-html="true" data-trigger="manual"
    data-content="<a href='#' class='wnum' id='wnum_1'>1</a>
    <a href='#' class='wnum' id='wnum_2'>2</a>
    <a href='#'class='wnum' id='wnum_3'>3</a>"
    title data-original-title="Width" id="width-select">
    <i class="icon-th-large"></i> W</button>
  </div>
  <div class="btn-group toolbar-element">
    <button class="btn toolbar-element popover-toggle" data-toggle="popover" data-placement="top" data-html="true" data-trigger="manual" data-content="<a href='#' class='hnum' id='hnum_1'>1</a> <a href='#' class='hnum' id='hnum_2'>2</a> <a href='#'class='hnum' id='hnum_3'>3</a>" title data-original-title="Height" id="height-select">
    <i class="icon-th-large"></i> H</button>
  </div>
</div>