<div class = "span12">
  <h1 id = "notes_h1">All notes</h1>
  <%= render :partial => "notes/new" %>

  <div id = "notes">
    <%= render :partial => "notes/note", :collection => @notes %>
  </div>

  <div style="display:none;">
    <%= render :partial => "toolbar" %>
  </div>
</div>